.container {
  display: flex;
  height: fit-content;
  align-items: center;
  gap: 60px;
}
.toggleLayout {
  display: flex;
  gap: 120px;
}
.button {
  width: 34px !important;
  height: 34px !important;
  border-radius: 6px !important;
}
@media (max-width: 610px) {
  .button {
    display: none;
  }
}