.container  {
  display: flex;
  gap: 6px;
  cursor: pointer;

}
.headerName {
  color: #1783B2;
  font-weight: 600;
  line-height: 100%;
}
.explanation {
  color: #646677;
  font-weight: 400;
  font-size: 12px;
  line-height: 100%;
}
.profileContent {
  display: flex;
  flex-direction: column;
  gap: 2px;
}
.img {
  margin-top: -2px;
}

.button {
  display: none;
}


@media (max-width: 610px) {
  .button {
    width: 34px !important;
    height: 34px !important;
    border-radius: 6px !important;
    display: block !important;
  }
  .layoutFlex {
    display: flex !important;
    width: 100%;
    justify-content: space-between;
  }
}